<div class="col-xs-12">
  <div class="text-center">
    <%= image_tag 'logo.png', class: 'logo-top' %>
  </div>
  <h4 class="text-center">یک بازی را از لیست انتخاب کنید و یا بازی جدیدی ایجاد کنید:</h4>
  <%= simple_form_for :game, url: game_new_path, method: 'post' do |f| %>
      <button type="submit" class="btn btn-3 btn-3e icon-arrow-right">بازی جدید      </button>
  <% end %>
  <div class="card card-block">
    <div class="row">
      <div class="col-xs-3 pull-xs-right"></div>
      <div class="col-xs">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="col-xs-3 pull-xs-right">saddsa</div>
    </div>
  </div>
</div>