<div class="g mnr-c g-blk" data-hveid="24" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQijYIGCgA">
  <div class="kp-blk _Rqb _RJe">
    <div class="xpdopen _vcj">
      <div class="_OKe">
        <div>
          <div></div>
        </div>
        <div>
          <div class="_Wtj mod" data-md="137" data-hveid="25" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ2XIIGSgAMAA"><!--m-->
            <div class="_V6i r-iM8ZRnQChF7I" jsl="$t t-viBZvcUB_6Q;$x 0;">
              <div class="_j7i">
                <table class="_U6i">
                  <tbody>
                  <tr>
                    <td>
                      <g-raised-button class="_D8i iM8ZRnQChF7I-x03_8M7xFMM _fAg _Kwg _MMk TTT-active" role="button" tabindex="0">
                        <div class="_BDi">
                          <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128">
                            <path d="M16,16L112,112"></path>
                            <path d="M112,16L16,112"></path>
                          </svg>
                          <span class="iM8ZRnQChF7I-6SpXOY9RJvI">6</span></div>
                      </g-raised-button>
                    </td>
                    <td>
                      <g-raised-button class="_D8i iM8ZRnQChF7I-vd6D2hpRJts _fAg _Kwg _MMk" jsaction="r.ea85Jzf3ENY" data-rtid="iM8ZRnQChF7I" jsl="$x 2;" role="button" tabindex="0">
                        <div class="_BDi">
                          <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128">
                            <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16"></path>
                          </svg>
                          <span class="iM8ZRnQChF7I-SrIs2owgLPw">-</span></div>
                      </g-raised-button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <p class="_Z6i"><span class="iM8ZRnQChF7I-06eAyvzPw2g" style="opacity: 0;"><svg aria-label="X" role="img" viewBox="0 0 128 128"><path d="M16,16L112,112"></path><path d="M112,16L16,112"></path></svg> Turn</span><span class="iM8ZRnQChF7I-aag0nxWIRDo" style="opacity: 0;"><svg aria-label="O" role="img" viewBox="0 0 128 128"><path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16"></path></svg> Turn</span><span class="iM8ZRnQChF7I-Y0N77fIlQuc" style="opacity: 0;">Game Over</span><span class="iM8ZRnQChF7I-0P3Xv2eyQoE" style="opacity: 1;">Start game or select player</span>
                </p>
              </div>
              <div class="_u7i">
                <svg class="_g7i _a7i iM8ZRnQChF7I-lTa1woRWt78" style="width: 214px; opacity: 1;" data-xyzzy="[object Object]">
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M107,82.19998168945312L5.399993896484375,82.19998168945312" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M107,82.19998168945312L208.60000610351562,82.19998168945312" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M72,117.19998168945312L72,15.5999755859375" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M72,117.19998168945312L72,218.79998779296875" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M107,151.79998779296875L5.399993896484375,151.79998779296875" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M107,151.79998779296875L208.60000610351562,151.79998779296875" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M141.60000610351562,117.19998168945312L141.60000610351562,15.5999755859375" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                  <path class="iM8ZRnQChF7I-hh6Ja9mPgeE" d="M141.60000610351562,117.19998168945312L141.60000610351562,218.79998779296875" style="stroke-dasharray: 101.6; stroke-dashoffset: 0;"></path>
                </svg>
                <table class="_i7i iM8ZRnQChF7I-1FU2mx-5hA8" style="opacity: 1;" data-xyzzy="[object Object]">
                  <tbody>
                  <tr>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="0" data-row="0" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCBwwAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="1" data-row="0" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCB0wAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="2" data-row="0" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCB4wAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                  </tr>
                  <tr>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="0" data-row="1" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCB8wAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="1" data-row="1" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCCAwAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="2" data-row="1" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCCEwAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                  </tr>
                  <tr>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="0" data-row="2" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCCIwAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="1" data-row="2" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCCMwAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                    <td class="_Y6i iM8ZRnQChF7I-TG5EmTXUFMQ" data-col="2" data-row="2" role="button" tabindex="0" jsaction="r.ok0km02AYeE" data-rtid="iM8ZRnQChF7I" jsl="$x 3;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ7YYBCCQwAA">
                      <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                        <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;"></path>
                      </svg>
                      <svg id='test' class="iM8ZRnQChF7I-EEfAjFvVGUw" aria-label="O" role="img" viewBox="0 0 128 128" style="visibility: visible; display: none;">
                        <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16" style="stroke: rgb(150, 150, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;"></path>
                      </svg>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="_g7i _c7i iM8ZRnQChF7I-0-tTnI95qjg" role="button" tabindex="0" jsaction="r.QPfSow2mIss" data-rtid="iM8ZRnQChF7I" jsl="$x 4;" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ74YBCCUwAA" style="color: rgb(84, 84, 84); z-index: 1; opacity: 0; visibility: hidden; line-height: 234px;" data-xyzzy="[object Object]">
                  <div class="_g7i _v7i iM8ZRnQChF7I-mf9tcSVIazs" style="opacity: 0;">
                    <svg class="_g7i iM8ZRnQChF7I--bY_hTlQqc0">
                      <path class="iM8ZRnQChF7I-qPa2fK_Daqc" style="stroke: rgb(84, 84, 84); stroke-width: 6px; stroke-dasharray: 295.288; stroke-dashoffset: 0;" d="M321.5,117.1875L321.5,117.1875"></path>
                    </svg>
                    <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="left: 297.5px; top: 93.2px;">
                      <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84);"></path>
                      <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84);"></path>
                    </svg>
                    <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="left: 297.5px; top: 93.2px;">
                      <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84);"></path>
                      <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84);"></path>
                    </svg>
                    <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="left: 297.5px; top: 93.2px;">
                      <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84);"></path>
                      <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84);"></path>
                    </svg>
                  </div>
                  <div class="_d7i iM8ZRnQChF7I-B589g3ytHU4" style="opacity: 1;">
                    <svg class="iM8ZRnQChF7I-rSO13xo9eCQ" aria-label="X" role="img" viewBox="0 0 128 128" style="width: 128px; height: 128px;">
                      <path d="M16,16L112,112" style="stroke: rgb(84, 84, 84);"></path>
                      <path d="M112,16L16,112" style="stroke: rgb(84, 84, 84);"></path>
                    </svg>
                    <div class="iM8ZRnQChF7I-nn6gxh2SOiA" style="opacity: 1;">Winner!</div>
                  </div>
                </div>
              </div>
              <g-raised-button class="_s7i iM8ZRnQChF7I-LI1FbUvQE-w _fAg _Kwg _MMk" jsaction="r.QgGjTcNkGho" data-rtid="iM8ZRnQChF7I" jsl="$x 5;" role="button" tabindex="0" data-ved="0ahUKEwjk87mb3bLQAhXIuI8KHVnWAIEQ74YBCCYwAA">
                <div class="_BDi">Restart game</div>
              </g-raised-button>
            </div><!--n--></div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>

</div>