<div class="col-xs-12 col-lg-6 offset-lg-3">
  <div class="text-center">
    <%= image_tag 'logo.png', class: 'logo-top' %>
  </div>
  <h4 class="text-center hero">
    <%= t 'enter_your_name' %>
  </h4>
  <%= simple_form_for @player, url: root_path do |f| %>
      <%= f.input :nickname, label: false %>
      <button type="submit" class="btn btn-3 btn-3e icon-arrow-right"><i class="fa fa-arrow-left"></i>شروع بــازی
      </button>
  <% end %>
</div>